name: newpedia_flutter
description: Clone tampilan Newpedia dengan Flutter Web
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
